@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

html { 
  height: 100%;
}

* { 
  padding: 0;
  margin: 0;
}
  
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  font: normal .8em arial, sans-serif;
  background: #C4E9E8 url(../images/back.png) repeat-x;
  
  
  color: #555;
}

#main { 
  /*background: transparent url(../images/grass.png) repeat-x bottom;*/
  margin: 0 auto;
  background-color: white;
  width: 50%;
}

header #logo {
  width: 100%;
}

header {
  background-image: url("../images/logo.png");
}

nav {
  background-color: #53C7FD;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}